.modal{
    background: white;
    width: 35%;
    height: 50vh;
    margin: 0 auto;
    position: fixed;
    left:40%;
    z-index: 2;
}
.top_modal{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0.5rem;
    width: 100%;
    height: 4rem;
    justify-content: space-between;
}
.constraints{
    width: 60%;
    margin: 0 auto;
}
.constraints ul {
    list-style: none;
}
.main{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap:2rem
    
}
.input{
    display: flex;
    flex-direction: column;
    height: 100%;
    height: 10rem;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    color:white;
}
.container{
    text-align: center;
    background: url(../assets/alexander-andrews-eNoeWZkO7Zc-unsplash.jpg);
    background-size: cover;
    height: auto;
    object-position: center;
    background-position: center;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap:5rem
}
.datepicker{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    justify-content: space-around;


}

.datepicker input[type="date"]{
    background: rgba(255, 255, 255, 0.1);
    height: 2rem;
    width: 60%;
    color: white;
    font-weight: 700;
    outline: none;
    border: 0.5px solid white;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 0.5rem;
}
.submit{
    background: blue;
    font-weight: 700;
    color:white;
    text-align: center;
    border-radius: 0.5rem;
    width: 20%;
}
.polar{
     height: 50vh;
      width: 50vw 
}
.error{
    color: red;
}
.chart{
    margin-top: 100px;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    
}
.btn_section{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}
.btn_section .submit{
    width: 50%;
}
.fetch{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:0 auto;
   
}
.loading{
    height: 50%;
    width: 50%;
    object-fit: cover;

}
.loading iframe{
    border: none;
    margin: auto;
}
.launch iframe{
 animation: launch 0.5 linear 
}
.close{
    background: red;
    font-weight: 700;
    color:white;
    text-align: center;
    border-radius: 0.5rem;
    width: 20%;
}
.starts{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5rem;
}
.fastest,.closest,.average{
    background: white;
    width: 25%;
    box-sizing: border-box;
    padding: 1rem;
    box-shadow: 5px 5px 5px white;
    height: 15rem;
}
.fastest h1,.closest h1,.average h1{
    text-transform: uppercase;
    font-size: 100%;
}
@keyframes launch {
    from{
     margin:0;
    }
    to{
        margin-top: -200px;
    }

}
@media screen and (min-width:401px) and (max-width:900px) {
    .polar{
        height: 400px;
         width: 400px ;
        box-sizing: border-box;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
   }
    .starts{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 5rem;
        gap: 2rem;
    }
    .main{
        box-sizing: border-box;
        padding: 2rem;
    }
    .nav{
        background: red;
    }
    .fastest,.closest,.average{
        background: white;
        width: 150%;
        box-sizing: border-box;
        padding: 1rem;
        box-shadow: 5px 5px 5px white;
        height: 15rem;
        
    }
    .fastest h1,.closest h1,.average h1{
        text-transform: uppercase;
        font-size: 100%;
    } 
    .fetch{
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin:0 auto
    }   
    .submit{
        background: blue;
        font-weight: 700;
        color:white;
        text-align: center;
        border-radius: 0.5rem;
        width: 50%;
    }
    .datepicker{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
    
    }
    .modal{
        background: white;
        width: 70%;
        height: 70vh;
        margin: 0 auto;
        position: fixed;
        left: 20%;
        top:0
    }
    .top_modal{
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        padding: 0.5rem;
        width: 100%;
        height: 5rem;
        justify-content: space-between;
       
    }
    .top_modal h1{
        font-size: 150%;
    }
    .constraints{
        width: 80%;
        margin: 0 auto;
    }
    .constraints ul {
        list-style: none;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap:1rem
    }
    .submit{
        background: blue;
        font-weight: 700;
        color:white;
        text-align: center;
        border-radius: 0.5rem;
        padding: 0.5rem;
        width: 10vw;
    }
    .btn_section{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .button{
        width: 20rem;
    }
    .chart{
        margin-top: 100px;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding: 0.5rem;
        align-items: center;
        
    }
}
@media screen and (max-width:400px) {
    .polar{
        height: 400px;
         width: 400px ;
        box-sizing: border-box;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
   }
    .starts{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 5rem;
        gap: 2rem;
    }
    .main{
        box-sizing: border-box;
        padding: 2rem;
    }
    .nav{
        background: red;
    }
    .fastest,.closest,.average{
        background: white;
        width: 150%;
        box-sizing: border-box;
        padding: 1rem;
        box-shadow: 5px 5px 5px white;
        height: 15rem;
        
    }
    .fastest h1,.closest h1,.average h1{
        text-transform: uppercase;
        font-size: 100%;
    } 
    .fetch{
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin:0 auto
    }   
    .submit{
        background: blue;
        font-weight: 700;
        color:white;
        text-align: center;
        border-radius: 0.5rem;
        width: 50%;
    }
    .datepicker{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
    
    }
    .modal{
        background: white;
        width: 70%;
        height: 70vh;
        margin: 0 auto;
        position: fixed;
        left: 20%;
        top:0
    }
    .top_modal{
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        padding: 0.5rem;
        width: 100%;
        height: 5rem;
        justify-content: space-between;
       
    }
    .top_modal h1{
        font-size: 150%;
    }
    .constraints{
        width: 80%;
        margin: 0 auto;
    }
    .constraints ul {
        list-style: none;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap:1rem
    }
    .submit{
        background: blue;
        font-weight: 700;
        color:white;
        text-align: center;
        border-radius: 0.5rem;
        padding: 0.5rem;
        width: 10vw;
    }
    .btn_section{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .button{
        width: 20rem;
    }
    .chart{
        margin-top: 100px;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding: 0.5rem;
        align-items: center;
        
    }
}